.footer {
  @include bg;
  position: relative;
  padding: 64px 0;
  background-image: url("../images/hero-footer.png");
  box-shadow: 0 40px 186px 0 rgba(23, 43, 27, 0.13);
  overflow: hidden;
  border-radius: 16px 16px 0 0;

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    max-width: 611px;
    margin: 0 auto 52px;
    position: relative;
    z-index: 20;
  }

  &__contact {
    border-radius: 16px;
    padding: 24px;
    background-color: $white;
    @include flex-column();
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__answer {
    @include flex-column();
    align-items: center;
    margin-bottom: 32px;
  }

  &__icon {
    @include objectCoverBg;
    margin-bottom: 8px;
  }

  &__answer-day {
    color: rgba($green50, .8);
  }

  &__text {
    margin-bottom: 32px;
  }

  .title {
    margin-bottom: 24px;
  }

  &__bottom {
    @include flex-between-center-gap(30);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($white, .3);
  }

  &__list {
    @include flex-between-center-gap(8);
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    font-family: $inter;
    line-height: 1.4;
    padding: 4px 9px;
    background-color: rgba($white, .12);
    border-radius: 40px;
    color: $white;
    transition: color .4s, background-color .4s, opacity .4s;

    &:hover {
      background-color: $white;
      color: $green30;
    }

    &:focus {
      opacity: .5;
    }
  }

  &__images {
    top: 0;
    position: absolute;
    z-index: 0;
  }

  &__img {
    @include objectCoverBg;
    position: relative;
    border-radius: 12px;

    &--one {
      top: -133px;
    }

    &--two {
      left: 96px;
    }

    &--three {
      position: absolute;
      right: -100px;
      top: -110px;
    }

    &--four {
      position: absolute;
      right: -92px;
      bottom: 54px;
      z-index: 0;
    }

    &--five {
      left: 240px;
      top: 76px;
    }

    &--six {
      position: absolute;
      right: 70px;
      transform: translateY(90px);
      width: 196px;
      z-index: 20;
      @media (max-width: 1520px) {
        right: 58px;
      }
      @media(max-width: 1440px) {
        right: 46px;
      }
    }
  }

  &__right {
    position: absolute;
  }
}

.images__footer {
  position: absolute;
  z-index: 300;
}