.footer {
  @include bg;
  padding: 64px 0;
  background-image: url("../images/hero-footer.png");
  box-shadow: 0 40px 186px 0 rgba(23, 43, 27, 0.13);

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    max-width: 611px;
    margin: 0 auto 52px;
  }

  &__contact {
    border-radius: 16px;
    padding: 24px;
    background-color: $white;
    @include flex-column();
    align-items: center;
    text-align: center;
  }

  &__answer {
    @include flex-column();
    align-items: center;
    margin-bottom: 32px;
  }

  &__icon {
    @include objectCoverBg;
    margin-bottom: 8px;
  }

  &__answer-day {
    color: rgba($green50, .8);
  }

  &__text {
    margin-bottom: 32px;
  }

  .title {
    margin-bottom: 24px;
  }

  &__bottom {
    @include flex-between-center-gap(30);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($white, .3);
  }

  &__list {
    @include flex-between-center-gap(8);
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    font-family: $inter;
    line-height: 1.4;
    padding: 4px 9px;
    background-color: rgba($white, .12);
    border-radius: 40px;
    color: $white;
    transition: color .4s, background-color .4s, opacity .4s;

    &:hover {
      background-color: $white;
      color: $green30;
    }

    &:focus {
      opacity: .5;
    }
  }
}