.header {
  @include bg;
  min-height: 736px;
  border-radius: 0 0 16px 16px;
  background-image: url("../images/hero.png");
  box-shadow: 0 40px 186.2px 0 rgba(23, 43, 27, 0.13);
  color: $white;
  position: relative;

  &__container {
    position: relative;
  }

  &__top {
    @include flex-between-center-gap(30);
    padding: 20px 0;
    border-bottom: 1px solid rgba($white, .3);
    margin-bottom: 40px;
  }

  &__list {
    @include flex-between-center-gap(8);
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    font-family: $inter;
    line-height: 1.4;
    padding: 4px 9px;
    background-color: rgba($white, .12);
    border-radius: 40px;
    transition: color .4s, background-color .4s, opacity .4s;

    &:hover {
      background-color: $white;
      color: $green30;
    }

    &:focus {
      opacity: .5;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: 74px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: .95;
    max-width: 830px;

    &--decor {
      position: relative;
      background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.38) 50%, #fff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        @include bg;
        @include pseudo;
        @include topLeft50;
        left: 44.6%;
        position: absolute;
        background-image: url("../images/icons/sticker.png");
        width: 74px;
        height: 62px;
        box-shadow: 0 0 26px 0 #34b150, 0 0 26px 0 #34b150;
      }
    }

    &--britannic {
      font-family: $britannic;
    }
  }

  &__subtext {
    max-width: 445px;
    font-size: 20px;
  }

  &__info {
    @include flex-column(16);
    max-width: 362px;
    font-size: 14px;
    position: absolute;
    right: 60px;
    top: 330px;
  }

  &__images {
    display: flex;
    position: absolute;
    bottom: -92px;

    img {
      @include objectCoverBg;
      border-radius: 12px;
    }
  }

  &__img {
    &--two {
      margin-left: 60px;
    }
  }
}