.title {
  font-family: $aeonik;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: .95;
  font-weight: 400;
  margin-bottom: 64px;
  max-width: 614px;
  width: 100%;
  @include r($desktop) {
    font-size: 60px;
    margin-bottom: 56px;
  }
  @media (max-width: 1100px) {
    font-size: 56px;
    margin-bottom: 48px;
  }
  @include r($lg) {
    font-size: 52px;
    margin-bottom: 42px;
  }
  @include r($tablet) {
    font-size: 48px;
  }
  @media (max-width: 670px) {
    font-size: 44px;
    margin-bottom: 34px;
  }
  @include r($sm) {
    font-size: 42px;
  }
  @include r($phone) {
    font-size: 38px;
  }
  @media (max-width: 420px) {
    font-size: 36px;
  }
  @include r($phone) {
    margin-bottom: 30px;
  }

  &--center {
    text-align: center;
    margin: 0 auto 64px;
    @include r($desktop) {
      margin-bottom: 56px;
    }
    @media (max-width: 1100px) {
      margin-bottom: 48px;
    }
    @include r($lg) {
      margin-bottom: 42px;
    }
    @media (max-width: 670px) {
      margin-bottom: 34px;
    }
    @include r($phone) {
      margin-bottom: 30px;
    }
  }

  &--decor {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center;
  }

  img {
    @include objectCoverBg;
    box-shadow: 0 40px 32px 0 rgba(195, 215, 200, 0.12);
    @media (max-width: 1100px) {
      width: auto;
      height: 54px;
    }
    @include r($tablet) {
      height: 50px;
    }
  }
}

.title-small {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.19;
  font-family: $bernard;
  color: $green50;
  @media (max-width: 1380px) {
    font-size: 30px;
  }
  @include r($desktop) {
    font-size: 28px;
  }
  @include r($tablet) {
    font-size: 26px;
  }
  @media (max-width: 660px) {
    font-size: 24px;
  }
  @include r($phone) {
    font-size: 23px;
  }
  @media (max-width: 390px) {
    font-size: 22px;
  }

  &--center {
    text-align: center;
  }
}