.title {
  font-family: $aeonik;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: .95;
  font-weight: 400;
  margin-bottom: 64px;
  max-width: 614px;
  width: 100%;


  &--center {
    text-align: center;
    margin: 0 auto 64px;
  }

  &--decor {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center;
  }

  img {
    @include objectCoverBg;
    box-shadow: 0 40px 32px 0 rgba(195, 215, 200, 0.12);
  }
}

.title-small {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.19;
  font-family: $bernard;
  color: $green50;

  &--center {
    text-align: center;
  }
}