<div class="container">
  <div class="images__footer">
    <img class="footer__img footer__img--five" src="images/parallax/2.png" alt="fitness people" width="153" height="187">
  </div>
  <img class="footer__img footer__img--six" src="images/parallax/5.png" alt="fitness people" width="196" height="264">
</div>
<footer class="footer indent" id="footer">
  <div class="container container--footer">
    <div class="footer__contacts">
      <div class="footer__contact">
        <div class="footer__answer">
          <img class="footer__icon" src="images/icons/email.svg" alt="mail icon" width="24" height="24">
          <span class="footer__service">Email</span>
          <span class="footer__answer-day">Answer for 3 days</span>
        </div>
        <h3 class="title title-small">Contact</h3>
        <p class="footer__text">
          The AI-powered workouts are challenging yet achievable, and the virtual coach
          provides valuable insights to help me improve my form and technique.
        </p>
        <button class="btn btn--gray" type="button">Contact Us</button>
      </div>
      <div class="footer__contact">
        <div class="footer__answer">
          <img class="footer__icon" src="images/icons/twitter.svg" alt="mail icon" width="24" height="24">
          <span class="footer__service">Twitter (X)</span>
          <span class="footer__answer-day">Lots of news and blog</span>
        </div>
        <h3 class="title title-small">Twitter (X)</h3>
        <p class="footer__text">
          Stay connected with TrainMe AI on social media for updates, workout inspiration, and community engagement.
          Join the conversation and share your fitness journey!
        </p>
        <button class="btn btn--gray" type="button">Follow Us</button>
      </div>
      <img class="footer__img footer__img--three" src="images/parallax/4.png" alt="fitness people" width="133" height="165">
      <img class="footer__img footer__img--four" src="images/parallax/6.png" alt="fitness people" width="103" height="154">
    </div>
    <div class="footer__bottom">
      <a class="logo" href="/">
        <img src="images/icons/logo.svg" alt="logotype" width="164" height="24">
      </a>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li>
            <a class="footer__link" href="">Home</a>
          </li>
          <li>
            <a class="footer__link" href="">About</a>
          </li>
          <li>
            <a class="footer__link" href="">Features</a>
          </li>
          <li>
            <a class="footer__link" href="">Testimonials</a>
          </li>
          <li>
            <a class="footer__link" href="">Closed Beta</a>
          </li>
          <li>
            <a class="footer__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__images">
      <img class="footer__img footer__img--one" src="images/parallax/1.png" alt="fitness people" width="216" height="328">
      <img class="footer__img footer__img--two" src="images/parallax/3.png" alt="fitness people" width="146" height="161">
    </div>
  </div>
</footer>