<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Description for site">
  <meta http-equiv="content-type" content="public, max-age=3600">
  <meta name="theme-color" content="#242424"/>
  <title>@title</title>
  <link rel="icon" href="images/icons/favicon.svg" type="images/x-icon">
  <link rel="shortcut icon" href="images/icons/favicon.svg" type="images/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
</head>
<body class="body">