<header class="header" id="start">
  <div class="header__container container">
    <div class="header__top">
      <a class="logo" href="/">
        <img src="images/icons/logo.svg" alt="logotype" width="164" height="24">
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link" href="">Home</a>
          </li>
          <li>
            <a class="header__link" href="">About</a>
          </li>
          <li>
            <a class="header__link" href="">Features</a>
          </li>
          <li>
            <a class="header__link" href="">Testimonials</a>
          </li>
          <li>
            <a class="header__link" href="">Closed Beta</a>
          </li>
          <li>
            <a class="header__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__text">
      <h1 class="header__title">
        Reach <span class="header__title--britannic header__title--decor">your peak</span>
        with Trainme AI: your ultimate virtual <span class="header__title--britannic">fitness coach.</span>
      </h1>
      <p class="header__subtext">
        Elevate your fitness journey with TrainMe AI,
        your virtual fitness coach powered by artificial intelligence.
      </p>
    </div>
    <div class="header__info">
      <button class="header__more btn" type="button">Learn More</button>
      <p>
        Get ready to experience personalized workouts,
        real-time guidance, and a smarter approach to achieving your goal.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="header__images">
      <img src="images/parallax/1.png" alt="fitness people" width="212" height="328">
      <img class="header__img header__img--two" src="images/parallax/2.png" alt="fitness people" width="153" height="187">
      <img src="images/parallax/3.png" alt="fitness people" width="310" height="339">
      <img src="images/parallax/4.png" alt="fitness people" width="133" height="165">
      <img src="images/parallax/5.png" alt="fitness people" width="196" height="264">
    </div>
  </div>
</header>